NET "reset" LOC = "T10";
NET "sysclk" LOC = "V10";
NET "UART_RX" LOC = "N17";
NET "UART_TX" LOC = "N18";

NET "digits[7]" LOC = "T17";
NET "digits[6]" LOC = "T18";
NET "digits[5]" LOC = "U17";
NET "digits[4]" LOC = "U18";
NET "digits[3]" LOC = "M14";
NET "digits[2]" LOC = "N14";
NET "digits[1]" LOC = "L14";
NET "digits[0]" LOC = "M13";

NET "digits[11]" LOC = "P17";
NET "digits[10]" LOC = "P18";
NET "digits[9]" LOC = "N15";
NET "digits[8]" LOC = "N16";

NET "LED[0]" LOC = "U16";
NET "LED[1]" LOC = "V16";
NET "LED[2]" LOC = "U15";
NET "LED[3]" LOC = "V15";
NET "LED[4]" LOC = "M11";
NET "LED[5]" LOC = "N11";
NET "LED[6]" LOC = "R11";
NET "LED[7]" LOC = "T11";

NET "switch[0]" LOC = "B8";
NET "switch[1]" LOC = "V16";
NET "switch[2]" LOC = "U15";
NET "switch[3]" LOC = "V15";
NET "switch[4]" LOC = "M11";
NET "switch[5]" LOC = "N11";
NET "switch[6]" LOC = "R11";
NET "switch[7]" LOC = "T11";

//NET "pulse_inst" LOC = "GND";
//NET "pulse_alu" LOC = "GND";
//NET "pulse_mem" LOC = "GND";
//NET "pulse_reg" LOC = "GND";