#ucf for testbench

NET 'sysclk' LOC = 'V10';
NET 'reset' LOC = 'T10';

NET 'led[0]' 			LOC = 'U16';
NET 'led[1]' 			LOC = 'V16';
NET 'led[2]' 			LOC = 'U15';
NET 'led[3]' 			LOC = 'V15';
NET 'led[4]' 			LOC = 'M11';
NET 'led[5]' 			LOC = 'N11';
NET 'led[6]' 			LOC = 'R11';
NET 'led[7]' 			LOC = 'T11';

NET 'UART_RX' LOC = 'N17';
NET 'UART_TX' LOC = 'N18';

#NET 'switch[0]' 			LOC = 'T10';
NET 'switch[1]' 			LOC = 'T9';
NET 'switch[2]' 			LOC = 'V9';
NET 'switch[3]' 			LOC = 'M8';
NET 'switch[4]' 			LOC = 'N8';
NET 'switch[5]' 			LOC = 'U8';
NET 'switch[6]' 			LOC = 'V8';
NET 'switch[7]' 			LOC = 'T5';
